 body{
        background-color: rgba(0, 0, 0, 0.911);
       
      }


.h5 {
   font-size: 2rem !important;
   font-family: fantasy;
}


.card-body {
    background-color: rgb(83, 2, 83) !important;
    color: goldenrod !important;
    font-family: cursive !important;
    
}

.card-img {
    border-radius: 50%;
     box-shadow: 5px 5px 5px white !important;
    overflow: hidden;
}

h1 {
    color: dodgerblue !important;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4.5rem !important;
    
    margin: 30px 0 !important;
}

.navbar {
    background-color: rgb(79, 41, 150) !important; 
    color: black !important;
    font-weight: bold;
}